<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Attraction</title>
    <link th:href= "@{/style.css}" rel="stylesheet">
</head>
<body>
<h1>Add Attraction</h1>

    <form th:action="@{/attractions/add}" th:method="post" th:object="${attraction}" autocomplete="off">

                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required> <br>

                <label for="description">Description:</label>
                <input type="text" id="description" name="description"> <br>

                <label for="city">City:</label>
                <select id="city" name="city" th:field="*{city}">
                    <option th:each="type : ${city}" th:value="city" th:text="${type.displayName}">City</option>
                </select>

                <div th:each="tag : ${tags}">
                    <input type="checkbox"
                           th:field="*{tags}" th:value="${tag}"
                           th:id="${tag}">
                    <label class="form-check-label"
                           th:for="${tag}" th:text="${tag.name}"> </label> <br> </div>
                <button type="submit">Save</button>
    </form>

    <footer class="footer">
        <form method="get" action="attractionList.html">
            <button type="submit">Back to attractions</button>
        </form>
    </footer>

</body>
</html>