<!-- attractionList.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Tourist Guide</title>
        <link th:href= "@{/style.css}" rel="stylesheet">
    </head>
    <body>
    <nav>
        <ul>
            <li><a href="/static">Home</a></li>
            <li><a href="/attractions">Attractions</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <h1 class="rainbow-text">Welcome</h1>
    <p class="rainbow-text">You can use this site for tourist guides :))</p>
    <img src="https://t4.ftcdn.net/jpg/00/30/42/27/360_F_30422752_w1SUKUMnnAzhgYSNd01A1oXSYncJizkU.jpg" alt="Tourist Attraction">

    <table style="width:100%">
        <tr>
            <th>Attraction</th>
            <th>Description</th>
            <th>Tags</th>
        </tr>
        <tr>
            <td><a href="/attractions/Tivoli">Tivoli</a></td>
            <td>The 2nd oldest amusement park in the world</td>
        </tr>
        <tr>
            <td><a href="/attractions/Den Blå Plant">Den Blå Plant</a></td>
            <td> An aquarium with wonderful fish </td>
        </tr>
        <tr>
            <td><a href="/attractions/Rundetårn">Rundetårn</a></td>
            <td> Round building </td>
        </tr>
    </table>

    <footer>
        <p>Contact: 12345678</p>
    </footer>

<form method="POST" action="attractions/add">
    <button type="submit">Add Attraction</button>
</form>

    </body>
</html>
<!--
Opret en velkomstside attractionList.html, der vises med flg. endpoint: http://localhost:80801
Teksten på velkomstsiden skal som minimum:
• Beskrive turistguiden - hvad kan den bruges til. Dækker den f.eks. en enkelt by, hele
Danmark, eller er det en global bucket liste? Er den rettet imod en bestemt
målgruppe (f.eks. singler eller naturelskere) eller andre relevante informationer.
• Vise en liste af udvalgte turistattraktioner (f.eks. via links til eksterne sites)
• Have links til de 2 GET endpoints i applikationen, dvs. links som kan
▪ Vise alle de hardkodede turistattraktioner fra repository klassen
▪ vise en af turistattraktionerne
• En footer med kontaktinfo
Sidens layout skal formateres med CSS for at se indbydende ud.

Brug som minimum disse tags2:
• head
• title
• nav
• footer
• img3
• ul or ol
-->
