<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
</head>
<body>
<h1>Tags</h1>
<h1 th:text="${attractionName}"></h1>

<div th:each="att : ${attractions}">
    <p th:if="${att.getName() == attractionName}" th:text="${att.getTags()}"></p>
</div>

<!--<p th:if="${attraction.getName() == attractionName}" th:text="${attraction.getTags()}"></p>    -->

<footer class="footer">
    <form method="get" action="attractionList.html">
        <button type="submit">Back to attractions</button>
    </form>
</footer>

</body>
</html>