<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <link th:href= "@{/style.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${attractionName}"/>

<table>
    <tr>
        <th>Tags</th>
    </tr>

    <tr th:each="tagItem : ${tags}">
        <td th:text="${tagItem}"/>

    </tr>
</table>

<footer class="footer">
    <form method="get" action="/attractions">
        <button type="submit">Back to attractions</button>
    </form>
</footer>

</body>
</html>