<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Attraction</title>
    <link th:href= "@{/style.css}" rel="stylesheet">
</head>
<body>
<h1>Update Attraction</h1>

    <form th:action="@{/attractions/update}" th:method="post" th:object="${attractions}" autocomplete="off">

                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required> <br>

                <label for="description">Description:</label>
                <input type="text" id="description" name="description"> <br>

                <label for="city">City:</label>
                <input type="text" id="city" name="city" value="" readonly><br><br>

                <div th:each="tags : ${tags}">
                    <input type="checkbox"
                           th:field="*{tags}" th:value="${tags}"
                           th:id="${tags}">
                    <label class="form-check-label"
                           th:for="${tags}" th:text="${tag.name}"> </label> <br> </div>
    </form>

<form method="POST" th:action="@{/attractions/update}">
    <button type="submit">Update</button>
</form>

</body>
</html>